@font-face {
	font-family: TTHoves;
	font-weight: 700;
	font-style: normal;
	src: local("TTHoves"), url("../fonts/TTHoves-Bold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: TTHoves;
	font-weight: 600;
	font-style: normal;
	src: local("TTHoves"), url("../fonts/TTHoves-DemiBold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: TTHoves;
	font-weight: 500;
	font-style: normal;
	src: local("TTHoves"), url("../fonts/TTHoves-Medium.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: TTHoves;
	font-weight: 400;
	font-style: normal;
	src: local("TTHoves"), url("../fonts/TTHoves-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: TTHoves;
	font-weight: 300;
	font-style: normal;
	src: local("TTHoves"), url("../fonts/TTHoves-Light.woff") format("woff");
	font-display: swap;
}